{% extends "base.html" %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-1">500</h1>
    <h2 data-i18n="errors.server_error">Server Error</h2>
    <p class="lead" data-i18n="errors.server_error_message">Something went wrong on our end. Please try again later.</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">
        <i class="fas fa-home me-2"></i> <span data-i18n="errors.back_home">Back to Home</span>
    </a>
</div>
{% endblock %}
